# Основы Python

## Введение

**Выполнение кода в ячейках**

* `Shift-Enter` - выполнить и перейти к следующей
* `Ctrl-Enter` - выполнить без перехода к следующей ячейке
* `Alt-Enter` - выполнить и добавить новую ячейку ниже

## Переменные

### Создание переменных

Давайте перейдем к переменным. Переменные в языках программирования немного похожи на ячейки в Excel: в них хранятся некоторые данные. В Excel ячейки имеют строгие названия, например, A4 или B11. В Python переменные могут иметь любые имена, которые вы хотите:

In [ ]:
current_age = 25
print(current_age)

Эта строка кода:

* создает новую переменную с именем `current_age`,
* присваивает `current_age` значение **25**.

Знак равенства `(=)` в Python означает "присваивать значение элемента справа переменной слева". Это очень важно – вы не можете присваивать значения наоборот.

> ## Задание  
> Создайте переменную под названием `temperature`, присвойте ей значение **15**.

In [ ]:
# Показать ответ
temperature = 15
temperature

### Переменные в выражениях

Вы также можете использовать переменные в выражениях, подобных этому:
```python
temp_yesterday = 30
temp_today = 35
temp_difference = temp_today - temp_yesterday
temp_difference
```

In [ ]:
temp_yesterday = 30
temp_today = 35
temp_difference = temp_today - temp_yesterday
temp_difference

Приведенный выше код выведет значение **5**, которое является разницей между `temp_today` и `temp_yesterday`.

> ## Задание
> Объявите две переменные:
> * `population_a` со значением **10000**,
> * `population_b` со значением **5000**.  
>
> Затем создайте переменную с именем `total_population`, в которую будут добавлены значения `population_a` и `population_b`. В конце, покажите значение `total_population`.

In [ ]:
# Показать ответ
population_a = 10000
population_b = 5000
total_population = population_a + population_b
total_population

### Присвоение новых значений переменным

Вы можете изменить значения переменных в любой момент. Посмотрите:

In [ ]:
current_age = 25
print(current_age)
current_age = current_age + 1 
print(current_age)

Значение переменной `current_age` равно 25. Во второй строке оно увеличивается до 26. Если вы хотите изменить значение вашей переменной, просто снова используйте оператор равно `(=)`.

> ## Задание
> * Создайте переменную с именем `mood` и присвойте ей строку "I feel bad today".
> * Далее, присвойте переменной mood новое значение: "I feel great today".

In [ ]:
# Показать ответ
mood = 'I feel bad today.'
mood = 'I feel great today.'
mood

### Неопределенные переменные

Переменные создаются, когда вы впервые присваиваете им значение. Что произойдет, если вы попробуете выполнить следующее?

In [ ]:
secret_number = 5
secret_number = random_number + secret_number

Если `random_number` не был определен ранее, Python выполнит первую строку, а затем **выдаст сообщение об ошибке**, когда оно достигнет второй строки. Когда вы получите сообщение об ошибке, любой код в ошибочной строке или после нее не будет выполнен. В этом случае вторая строка (и любые другие строки, которые следуют за ней, выполнены не будут).

> ## Задание
> Запустите код шаблона.
>
> ```python
> current_age = 12
> unknown_age
> current_age = current_age + 5
> current_age
> ```

>  <br/> Мы получим следующий результат:
>
> Сначала, переменной `current_age` было присвоено значение **12**. Затем появилась следующая ошибка:
`NameError: name 'unknown_age' is not defined`
>
> Обратите внимание, что все, что следует за строкой `unknown_age`, так и не было выполнено из-за ошибки
>
> current_age = current_age + 5  
current_age

In [ ]:
# Показать ответ
current_age = 12
unknown_age = 0
print(unknown_age)
current_age = current_age + 5
print(current_age)

```python print('hello')
```

```python print('hello')
```

## Функция print

### Объединение нескольких строк

Идем дальше! Также вы можете "добавить" строки с помощью оператора plus (+).

Мы использовали оператор "плюс" для объединения нескольких строк. Это выражение будет отображать текст:

`Hello, my name is Kate.`

Значение в переменной `name` использовалось при соединении строк.

In [ ]:
'Kate'

In [ ]:
5

In [ ]:
name = 'Kate'
'Hello, my name is ' + name + '.'

> ## Задание
> Создайте переменную с именем `town` и присвойте ей следующее строковое значение: `Toronto`.  
> Затем выведите следующее предложение, используя эту переменную:  
> `I live in Toronto.`

In [ ]:
# Показать ответ
town = 'Toronto'
'I live in ' + town + '.'

### Целые числа, строки и числа с плавающей точкой

Точно так же, как в Excel существуют различные типы ячеек (числа, даты, текст и т.д.), в Python существуют различные типы переменных.  
К ним относятся:

* Integers `(int)` – целые числа

In [ ]:
current_age = 5

* float `(float)` – числа с плавающей точкой /числа с десятичной частью, вводимые после точки (.):

In [ ]:
current_weight = 75.5

* Строки `(string)` – текстовые значения, заключенные в одинарные (' ') или двойные ("  ") кавычки:

In [ ]:
standard_greeting = 'My name is Tom!'

В отличие от многих других языков программирования, Python **автоматически определяет** тип переменной, которую он должен использовать. Например, если вы вводите:

In [ ]:
temperature = 36.6

Python будет знать, что переменная `temperature` является плавающей, потому что число содержит точку (.). Взгляните на другой пример:

In [ ]:
ratio = 250/10
ratio

В этом случае Python автоматически определит, что результатом деления является число с плавающей точкой.

> ## Задание
> В Python есть функция с именем `type()`, которая может указать **тип переменной**, которую вы передаете в круглые скобки. Теперь взгляните на код шаблона и запустите его.
> ```
age = 5
print(type(age))
weight = 45.0
print(type(weight))
name = 'Alex'
print(type(name))
```

In [ ]:
# Показать ответ
age = 5
print(type(age))
weight = 45.0
print(type(weight))
name = 'Alex'
print(type(name))

Вы можете видеть, что:

* age - это целое число (int),
* weight - это число с плавающей точкой (float), потому что оно содержит десятичную точку (.),
* name - это строка (str), потому что оно заключено в кавычки.

### Соединение строк и чисел

Как вы могли видеть, Python знает разницу между строками (текстом) и числами. Число **5** и текст (обратите внимание на апострофы!) **'5'** - это две разные вещи. Вы также можете использовать знак плюс (+) для объединения строк и чисел, но вам нужно преобразовать числа в строки с помощью функции `str():`

In [ ]:
current_age = 25
'I am ' + str(current_age) + ' years old.'

Обратите внимание, как мы использовали `str(current_age)` для преобразования целого значения `current_age` в строку. Без этого преобразования код был бы неработоспособен.

> ## Задание
> Создайте переменную `endurance` со значением **5**. Затем используйте эту переменную для отображения следующего предложения:  
> `I can walk for 5 hours!`

In [ ]:
# Показать ответ
endurance = 5
'I can walk for ' + str(endurance) + ' hours!'

### Функция print

В Python есть еще один способ отображения значения: **функция print()**. Как следует из названия, **функция print()** выводит на экран значение выражения, которое вы передаете в качестве аргумента, например, строку или число:

In [ ]:
print('I am happy.')

Вы также можете передать переменные в качестве аргументов **функции print()**:

In [ ]:
age = 5
print(age)

Вы можете использовать **функцию print()** в любом месте кода, а не только в конце кода.


> ## **Задание**  
> Напечатайте следующий текст:  
> `Hello, Python! I am printing with print() function.`

In [ ]:
# Показать ответ
print("Hello, Python! I am printing with print() function.")

###  Печать нескольких значений

В качестве альтернативы вы можете использовать функцию print() с запятыми вместо плюсов, чтобы избежать преобразования чисел с помощью функции **str():**

In [ ]:
future_age = 30
print('Tomorrow, I will be',future_age,'!')

In [ ]:
future_age = 30
print('Tomorrow, I will be', str(future_age) + '!')

Когда вы используете **запятые** в **print()**, Python автоматически добавит **пробел** между каждым элементом. Обычно это очень удобно, но иногда может привести к нежелательным результатам. Например, приведенный выше код покажет: ***Tomorrow, I will be 30 !***

Обратите внимание, что между цифрой 30 и восклицательным знаком стоит пробел, что является неправильным в соответствии с правилами пунктуации. В таких случаях используйте оператор "плюс", чтобы получить более точный контроль над выводимыми данными.


> ## **Задание**  
Какой язык вы хотели бы выучить после освоения Python?   
Используя переменную next_lang, выведите следующий текст:  
> `Next, I will learn R`  
>
> Прим. Если вы хотите, вы можете изменить название языка, который собираетесь изучать в следующий раз.

In [ ]:
# Показать ответ
next_lang = 'R'
text = "Next, I will learn"
print(text, next_lang)

```python print('hello')
```

```python print('hello')
```

```python print('hello')
```

## Основы списка (list)

### Комментарии на Python

Прежде чем мы начнем работать со списками, мы введем комментарии. **Комментарии** - это фрагменты кода, которые игнорируются Python. Вы можете использовать их для описания того, что делает ваш код, или для быстрого комментирования некоторых строк кода при проведении экспериментов.

In [ ]:
# запишите vin-код автомобиля, который мы ищем
car_vin = 'GH665SD'

Комментарии вводятся со знаком **хэша** `(#)`. Они могут занимать целую строку или начинаться с середины строки. Все, что указано справа от знака хэша, игнорируется Python.

> ## Задание
Посмотрите на код шаблона. Закомментируйте следующую строку `turtle_lifespan = turtle_lifespan + 40`  
и посмотрите, что будет показано:

In [32]:
# определить срок службы
turtle_lifespan = 20
# увеличьте срок службы
# turtle_lifespan = turtle_lifespan + 40

60

In [34]:
# Показать ответ
# определить срок службы
turtle_lifespan = 20
# увеличьте срок службы
# turtle_lifespan = turtle_lifespan + 40
turtle_lifespan

20

### Определение списков

Мы уже знаем некоторые базовые типы данных — целые числа, числа с плавающей точкой и строки. Теперь мы хотим провести анализ нескольких значений (например, 10 самых густонаселенных городов Канады). Вы могли бы начать с чего-то вроде этого:

`city_1 = 'Toronto'`  
`city_2 = 'Montreal'`  
`city_3 = 'Vancouver'`  
`...

Но это требует много ввода. Кроме того, сложно обрабатывать группы данных, хранящихся таким образом. Python предлагает несколько способов хранения нескольких значений в одной переменной. Наиболее универсальный из них называется списком.

In [ ]:
canadian_cities = [
  'Toronto', 'Montreal', 'Calgary',
  'Ottawa', 'Edmonton', 'Mississauga',
  'Winnipeg', 'Vancouver', 'Brampton', 'Familton' ]

Список создается путем заключения его элементов в **квадратные скобки**, разделенные **запятыми**. Поскольку наши элементы представляют собой строки, нам также нужно было заключить их в одинарные `('')` или двойные `("")` кавычки.

> ## Задание
> Определите переменную списка с именем daily_sales со следующими **7 значениями**, которые представляют **ежедневные продажи** в российских рублях в магазине вашего клиента: 2345, 3754, 2583, 4583, 7823, 10234, 14384.

In [35]:
# Показать ответ
daily_sales = [2345,3754,2583,4583,7823,10234,14384]
daily_sales

[2345, 3754, 2583, 4583, 7823, 10234, 14384]

### Доступ к элементам списка

Прекрасно! Едем дальше! Элементы в списке индексируются (нумеруются), и вы можете получить определенный элемент следующим образом:

In [38]:
# определите список
canadian_cities = [
  'Toronto', 'Montreal', 'Calgary', 
  'Ottawa', 'Edmonton', 'Mississauga', 
  'Winnipeg', 'Vancouver', 'Brampton', 'Familton']

# добраться до Оттавы
canadian_cities[3]

'Ottawa'

Мы указываем название списка `(canadian_cities)`, за которым следует пара квадратных скобок. Внутри мы помещаем индекс (номер) конкретного элемента. Таким образом, мы можем получить доступ к любому элементу в списке.

Индексы списка начинаются с **0**, а не с **1**. Другими словами, `canadian_cities[0]` – это **первый элемент**, а `canadian_cities[3]` - **четвертый**. Это распространенная ошибка среди новичков, поэтому будьте осторожны!

In [40]:
# Отобразить индекс элемента списка в Python? (Функция enumerate())
# Функция enumerate() в Python позволяет итерировать по последовательности, отслеживая индекс или позицию каждого элемента
a = [0, 2, 3, 4, 6]
for i, b in enumerate(canadian_cities, 0):
    print(str(i), str(b))

0 Toronto
1 Montreal
2 Calgary
3 Ottawa
4 Edmonton
5 Mississauga
6 Winnipeg
7 Vancouver
8 Brampton
9 Familton

> ## Задание
> Каковы были продажи на **третий день** в вашем ранее заданном списке? Откройте нужный элемент списка.

In [41]:
# Показать ответ
daily_sales = [2345,3754,2583,4583,7823,10234,14384]
daily_sales[2]

2583

### Доступ к нескольким элементам списка – часть 1

Мы также можем использовать квадратные скобки, чтобы получить несколько элементов.

In [42]:
# получить top 3 городов
canadian_cities[0:3]

['Toronto', 'Montreal', 'Calgary']

Мы использовали `canadian_cities[0:3]`, чтобы получить все элементы списка с индексами от **0 (включительно) до 3 (исключительно)**.  
Это означает, что мы получили   
`canadian_cities[0]`,   
`canadian_cities[1]` и   
`canadian_cities[2]`   
(но не `canadian_cities[3]`). В результате получился новый список.

> ## Задание
> Какие продажи были в выходные дни (т.е. в дни **6** и **7**) в вашем ранее определенном списке? Откройте **два** элемента списка.

In [43]:
daily_sales = [2345, 3754, 2583, 4583, 7823, 10234, 14384]
daily_sales[5:7]

[10234, 14384]

### Доступ к нескольким элементам списка – часть 2

Когда мы писали `canadian_cities[0:3]`, мы явно указывали первый и последний нужные нам элементы. Если одно из этих значений обозначает первый или последний элемент в списке, мы можем **пропустить его**:

In [45]:
# все элементы с самого начала до canadian_cities[2]
print(canadian_cities[:3])

# все элементы от canadian_cities[3] до самого конца
print(canadian_cities[3:])
print(canadian_cities)

['Toronto', 'Montreal', 'Calgary']
['Ottawa', 'Edmonton', 'Mississauga', 'Winnipeg', 'Vancouver', 'Brampton', 'Familton']
['Toronto', 'Montreal', 'Calgary', 'Ottawa', 'Edmonton', 'Mississauga', 'Winnipeg', 'Vancouver', 'Brampton', 'Familton']

> ## Задание
> Показывать все ежедневные продажи, за исключением первых двух дней.

In [46]:
# Показать ответ
daily_sales = [2345,3754,2583,4583,7823,10234,14384]
daily_sales[2:]

[2583, 4583, 7823, 10234, 14384]

### Присвоение новых значений

Используя квадратные скобки, мы также можем присвоить новые значения определенным элементам.

In [48]:
# определяем список
canadian_cities = [
    'Toronto', 'Montreal', 'Calgary', 'Ottawa',
    'Edmonton', 'Mississauga', 'Winnipeg', 'Vancouver', 
    'Brampton', 'Familton']

# демографические изменения...
canadian_cities[9] = 'Quebec'
canadian_cities

['Toronto',
 'Montreal',
 'Calgary',
 'Ottawa',
 'Edmonton',
 'Mississauga',
 'Winnipeg',
 'Vancouver',
 'Brampton',
 'Quebec']

Мы выяснили, что в Quebec теперь живет больше людей, чем в Familton, поэтому мы меняем **десятый** элемент (помните, его индекс равен **9**) на `"Quebec"`. Familton выходит из игры!

> ## Задание
> Исправьте ошибку в ваших данных. Количество продаж за третий день должно составить **3023**.

In [49]:
# Показать ответ
daily_sales = [2345, 3754, 2583, 4583, 7823, 10234, 14384]
daily_sales[2] = 3023
daily_sales

[2345, 3754, 3023, 4583, 7823, 10234, 14384]

### Проверка размер списка

Чтобы проверить размер вашего списка (т.е. количество элементов в вашем списке), используйте функцию `len(имя_списки)`.

In [50]:
# определяем список
canadian_cities = [
    'Toronto', 'Montreal', 'Calgary', 'Ottawa',
    'Edmonton', 'Mississauga', 'Winnipeg', 'Vancouver', 
    'Brampton', 'Familton']

# должно быть равно 10
len(canadian_cities)

10

## Резюме


>Отличная работа!. Пора подводить итоги! Вот некоторые вещи, которые мы узнали:

> * функция `print()` выводит все, что указано в круглых скобках
> * Переменные объявляются и им присваиваются значения с помощью оператора равенства `(=)`.
> * Вот несколько основных типов переменных: целые числа (int), числа с плавающей точкой (float) и строки (str). Строки заключаются в одинарные `(' ')` или двойные `(" ")` кавычки.
> * Вы можете преобразовать переменные разных типов в строки, используя `str()`.
> * Комментарии начинаются с `#`.
> * Для определения списков требуется, чтобы элементы, разделенные запятыми, были заключены в квадратные скобки:
>   `invited_guests = ['Mark', 'Hannah', 'Walter']`
> * Доступ к элементам списка заключен в квадратные скобки. Индексация начинается с 0.  
>  `invited_guests[0] #первый элемент`   
`invited_guests[0:2] #первый и второй элемент`  
`invited_guests[1:] #все элементы кроме первого`
> * Чтобы получить количество элементов в списке, используйте функцию `len()`:  
>   `len(list_name)`
>
> Итак, пришло время для короткого теста!

### Задание #1

Давайте начнем с чего-нибудь простого!

Выведите на экран следующее предложение:  
`'I feel good today.'`

In [ ]:
# Показать ответ
print('I feel good today.')

### Задание #2

Отлично, а теперь как насчет математики?

Peter хотел продать несколько старых книг, которые он нашел в своем шкафу. Он нашел 67 старых книг, из которых 43 были слишком повреждены, чтобы их можно было продать. Peter удалось выручить по 500 рублей за каждую из оставшихся книг.

Определите окончательную сумму, которую собрал Peter, переменной с именем `score` и выведите следующее предложение:    
`I raised as much as {score}`

In [ ]:
# Показать ответ
score = (67-43)*500
text = 'I raised as much as'
print(text, score)

### Задание #3

Отлично! Давайте закончим небольшим упражнением со списками!

Учитывая рейтинг крупнейших городов Германии, выведите на экран 5 лучших городов.  
`biggest_german_cities = ['Berlin','Hamburg','Munich','Cologne','Frankfurt','Essen','Stuttgart','Dortmund']`

In [ ]:
# Показать ответ
biggest_german_cities = ['Berlin','Hamburg','Munich','Cologne','Frankfurt','Essen','Stuttgart','Dortmund']
result = biggest_german_cities[:5]
result

### Поздравление!

Поздравляю! Вам удалось решить все наши проблемы. Пришло время сделать перерыв перед следующей частью, в которой мы начнем изучать pandas, платформу для анализа данных на Python.

Задание!  
`Для продолжения обучения, пройдите регистрацию по ссылке:` ссылка находится в описании к уроку